VITE_SUPABASE_URL=https://pnyqgliswazqbwyuwcwm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBueXFnbGlzd2F6cWJ3eXV3Y3dtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NTE1MzEsImV4cCI6MjA4OTUyNzUzMX0.ARm4pCYdgX_O4Q7TEIMN5bHmLhgxUNZpxMe7r59TEmc
